@reference "../tailwind-bridge.css";

@utility text-title {
    @apply p-0 m-0 font-semibold text-foreground-title
}

.pagina-base {
    @apply bg-background text-foreground h-full w-full;

    /* Todos estos estilos solo aplican a hijos de .pagina-base */
    & p { @apply text-base; }
    & h6 { @apply text-sm text-title; }
    & h5 { @apply text-lg text-title; }
    & h4 { @apply text-xl text-title; }
    & h3 { @apply text-2xl text-title; }
    & h2 { @apply text-3xl text-title; }
    & h1 { @apply text-4xl text-title; }
}