API_URL=http://localhost:8000/
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=contrasenia
DB_NAME=scarh_db
DB_HOST=db
SECRET_KEY='django-insecure-&jw08(blsf7c1)!6gfs_-842a*-u+0mmod$fm*-rj&$y!zabeg'
ADMIN_FIRST_NAME="Clark"
ADMIN_LAST_NAME="Kent"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="super-secure-password"
ADMIN_EMAIL="admin@tudominio.com"
ADMIN_IS_STAFF="True"
EMAIL_HOST_USER=materialordenado@gmail.com #Email de ADMIN
EMAIL_HOST_PASSWORD=pkkt mskd mgjc argl #CODIGO DE 16 DIGITOS VALIDADO POR

# Crear usuario cualquiera para probar cambio de contraseña
USER_USERNAME="pablo.donato" #Usuario X
USER_EMAIL="pablodonato2001@gmail.com" #Email Valido
USER_PASSWORD="pablodonato123" #Contraseña X
USER_FIRST_NAME="Pablo" #Nombre x
USER_LAST_NAME="Donato" #Apellido X



# JWT Token Configuration (minutos para access, días para refresh)
ACCESS_TOKEN_LIFETIME_MINUTES=60
REFRESH_TOKEN_LIFETIME_DAYS=7