@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "@iconify/tailwind4";
@plugin "tailwindcss-animate";

@import "./tema-claro.css";
@import "./tema-oscuro.css";
@import "./tema.css";
@import "./scroll.css";
@import "./botones.css";
@import "./cards.css";
@import "./text.css";

/* Estilos de capa base y body */
body {
  background: var(--background-default);
  color: var(--color-foreground);
  font-family: var(--font-outfit), sans-serif;
  margin: 0;
}

.font-outfit {
  font-family: var(--font-outfit), sans-serif;
}
