@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@tailwind utilities;
@plugin "@iconify/tailwind4";

@theme inline {
	--color-background: var(--background);
	--color-background-muted: var(--background-muted);
	--color-foreground: var(--foreground);
	--color-foreground-title: var(--foreground-title);
	--color-border: var(--border);
  --color-card: var(--card);
	--color-azul-marino-oscuro: rgba(7, 28, 48, 0.65);
	--color-azul-marino: rgba(9, 130, 200, 0.35);
  --color-accent-blue: var(--accent-blue);

  --color-logo: var(--logo);
  --color-sidebar: var(--sidebar);
  --color-sidebar-secondary: var(--sidebar-secondary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-foreground-hover: var(--sidebar-foreground-hover);
  --color-sidebar-foreground-active: var(--sidebar-foreground-active);
  --color-sidebar-link: var(--sidebar-link);
  --color-sidebar-link-hover: var(--sidebar-link-hover);
  --color-sidebar-link-active: var(--sidebar-link-active);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

  --color-principal: var(--principal);
  --color-principal-claro: var(--principal-claro);
  --color-principal-oscuro: var(--principal-oscuro);

  --color-exito: var(--exito);
  --color-exito-claro: var(--exito-claro);
  --color-exito-oscuro: var(--exito-oscuro);

  --color-nuevo: var(--nuevo);
  --color-nuevo-claro: var(--nuevo-claro);
  --color-nuevo-oscuro: var(--nuevo-oscuro);

  --color-default: var(--default);
  --color-default-claro: var(--default-claro);
  --color-default-oscuro: var(--default-oscuro);

  --color-error: var(--error);
  --color-error-claro: var(--error-claro);
  --color-error-oscuro: var(--error-oscuro);

  --color-info: var(--info);
  --color-info-claro: var(--info-claro);
  --color-info-oscuro: var(--info-oscuro);

  --color-hover: var(--hover);
  --color-active: var(--active);

  --color-table: var(--table);
  --color-table-header: var(--table-header);
  --color-table-hover: var(--table-hover);

  --animate-shine: shine 0.6s ease-in-out;
  --animate-fade-in-up: fade-in-up 0.3s ease-out forwards;
  
  @keyframes shine {
      from {
          left: -100%;
      }
      to {
          left: 125%;
      }
  }


  @keyframes fade-in-up {
      from {
          opacity: 0;
          transform: translateY(10px);
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }
}

:root {
  --radius: 0.625rem;

  /* Colores */
  --background: #EEF4FB;
  --background-muted: #f9f9f9;
  --foreground: oklch(0.129 0.042 264.695);
  --foreground-title: #4e4e4e;
  --scroll-thumb: #aaa;
  --scroll-thumb-hover: #aaa;
  --scroll-track: #aaa;

  --border: #e5e5e5;
  --accent-blue: #0066cc;

  --logo: #0D76B3;
  --sidebar: #fff;
  --sidebar-foreground: #121212;
  --sidebar-secondary: #6B6B6B;
  --sidebar-foreground-active: #F9FBFF;
  --sidebar-link: #f0f0f0;
  --sidebar-link-hover: #d0d0d0;
  --sidebar-link-active: #011018;

  --principal: #0982C8;
  --principal-claro: #3e99ce;
  --principal-oscuro: #096092;
  
  --exito: #6BA66F;
  --exito-claro: #E6FFEC;
  --exito-oscuro: #E6FFEC;
  
  --nuevo: #3199E3;
  --nuevo-claro: #E3F0FF;
  --nuevo-oscuro: #a85f5f;
  
  --error: #FF5757;
  --error-claro: #FFE8E8;
  --error-oscuro: #a85f5f;

  --info: #0054A6;
  --info-claro: #afcce9;
  --info-oscuro: #1e2b3d;
  
  --default: #898989;
  --default-claro: #F4F4F4;
  --default-oscuro: #F4F4F4;

  --hover: #ddd;
  --active: #fafafa;

  --table: #fafafa;
  --table-header: #fafafa;
  --table-hover: #ddd;
}

.dark {
  /* Colores */
  --background: rgb(35 39 47);
  --background-muted: rgb(41, 44, 49);
  --foreground: #bbb;
  --foreground-title: #f6f6f6;
  --scroll-thumb: #272729;
  --scroll-thumb-hover: #aaa;
  --scroll-track: #16151a;

  --border: #5d6066;
  --accent-blue: #58a6ff;

  --logo: #0D76B3;
  --sidebar: rgb(27, 31, 37);
  --sidebar-foreground: #F9FBFF;
  --sidebar-secondary: #6B6B6B;
  --sidebar-foreground-active: #121212;
  --sidebar-link: rgb(41, 44, 49);
  --sidebar-link-hover: rgb(52, 56, 62);
  --sidebar-link-active: #EEF4FB;

  --principal: #0da2f8;
  --principal-claro: rgba(13, 162, 248, 0.15);
  --principal-oscuro: #096092;

  --exito: #82d987;
  --exito-claro: #253d27;
  --exito-oscuro: #2d4f30;

  --nuevo: #60b5f5;
  --nuevo-claro: #1d3242;
  --nuevo-oscuro: #2a4a63;

  --error: #d65757;
  --error-claro: #533131;
  --error-oscuro: #632a2a;

  --info: #6e99d5;
  --info-claro: #213045;
  --info-oscuro: #222;

  --default: #a0a0a0;
  --default-claro: rgb(27, 31, 37);
  --default-oscuro: #3a3a3a;

  --hover: #444;
  --active: #222;

  --table: #23272f;
  --table-header: #23272f;
  --table-hover: #393e49;
}

@layer base {
  * {
    @apply border-border;
    outline-color: color-mix(in oklch, var(--ring) 50%, transparent);
  }
  body {
    @apply bg-background text-foreground;
  }
}


body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-outfit);
}

.font-outfit {
	font-family: var(--font-outfit);
}

.leaflet-conteiner {
	width: 100vw;
	height: 100vh;
}

.map-marker-icon {
	background: transparent;
	border: none;
	box-shadow: none;
}

/* Scroll */

.custom-scroll {
	scrollbar-width: thin;
	scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

.custom-scroll::-webkit-scrollbar {
	width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
	background: var(--scroll-track);
	border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb);
	border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-thumb-hover);
}

